<link rel="stylesheet" href="/css/customer/contact-partial.css" />

<div class="contact-background">
  <div class="contact-div">
    <img class="telephone-icon" src="/images/telephone.png" alt="telephone image" />
    <h1 class="got-query-heading">GOT QUERY ?</h1>
    <div class="contact-us-button-div">
      <a class="contact-us-button" href="/contact"> CONTACT US </a>
    </div>
    <h3 class="got-query-para">Or Call Us: +91 8890901831</h3>
  </div>
</div>
