<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <!-- Font Awesome for Icons -->
    <script src="https://kit.fontawesome.com/13c795f6d8.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans%7CRaleway:400,700&display=swap" rel="stylesheet" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/<%=style%>.css" />
    <style>
      #preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff; /* change if the mask should have another color then white */
        z-index: 9; /* makes sure it stays on top */
      }
      #status {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 40%; /* centers the loading animation horizontally one the screen */
        top: 30%; /* centers the loading animation vertically one the screen */
        background-image: url("/images/loading.gif");
        z-index: 9; /* path to your loading animation */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: -50px 0 0 -50px; /* is width and height divided by two */
      }
    </style>
  </head>

  <body>
    <div id="preloader">
      <div id="status"></div>
    </div>