<%- include ("partials/header") %>

<div class="header" style="clear: both">
  <a href="/">
    <img class="logo" src="images/icon1.png" alt="Huddle's Logo" />
  </a>
  <a href="/">
    <h3 class="brand-name">Click to Eat</h3>
  </a>
</div>

<div class="row">
  <div class="col-lg-7 col-sm-12">
    <img class="image" src="images/illustration.png" alt="mockup image" />
  </div>

  <div class="col-lg-5 col-sm-12">
    <div>
      <h2 class="heading">Restaurant You Will Love</h2>
    </div>

    <div class="para">
      <p>Hungry? Unexpected guest? Cooking gone wrong?</p>
      <p>You are only few clicks away from your favourite food</p>
    </div>

    <div class="button">
      <a href="/login">
        <button class="btn" type="submit" name="button">Register/Login Now</button>
      </a>
    </div>
  </div>
</div>

<%- include ("partials/footer") %>
