body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/bg-desktop.svg");
    background-color: #674baf;
    color: #fff;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 80%;
    line-height: 1.5;
    margin: 10% 0 5% 5%;
}

.logo, .brand-name {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

.logo {
    padding: 0 3%;
    width: 20%;
}

.brand-name {
    float: right;
    margin: 5% 5% 0 0;
}

.image {
    margin-left: 8%;
    width: 75%;
}

.para {
    width: 85%;
    line-height: 1.5;
    margin-left: 5%;
}

.row {
    width: 100%;
}

.btn {
    margin-left: 5%;
    margin-top: 2%;
    background-color: #fff;
    color: #674baf;
    padding: 2% 5%;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: purple;
    color: #fff;
}

/* Media Queries */

@media (max-width: 768px) {
    .logo {
        margin: 5%;
        width: 10rem;
    }
    .image {
        width: 20rem;
        margin-top: 10%;
    }
    .heading {
        font-size: 1.5rem;
        font-weight: 400;
        text-align: center;
        margin: 10% auto 0;
    }
    .para {
        text-align: center;
        margin: auto;
    }
    .button {
        text-align: center;
        margin: auto;
    }
    .btn {
        padding: 2% 20%;
        margin-bottom: 15%;
    }
}