body {
    background-color: #ffb300;
}

.navbar {
    border-bottom: 1px solid black;
}

.cont {
    width: 60vw;
    height: 70vh;
    margin: 5% auto;
    background-image: url("../images/resetPasswordBg.jpg");
    background-size: contain;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    display: flex;
    flex: 1;
    flex-direction: row;
}

.mainContent {
    background-color: #fff;
    width: 100%;
    padding: 7%;
}

button, input {
    border: none;
    outline: 0;
    background: 0 0;
}

h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-bottom: 2%;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}

input {
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
}

.submit {
    text-transform: uppercase;
    background: #ffb300;
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-top: 10%;
}

.side {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
}

.side-text {
    color: #fff;
}

.side-text>h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

.side-text>p {
    font-size: 14px;
    line-height: 1.5;
}

.side-btn>button {
    margin: 0 0;
}

.side-btn {
    display: grid;
    place-items: center;
    width: 100%;
    height: 20%;
    border: 2px none #fff;
    border-radius: 10px;
    margin: 0 auto;
    background: 0 0;
    text-transform: uppercase;
    cursor: pointer;
}

.side-btn>button {
    font-size: 15px;
    color: #fff;
}