@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  border-bottom: 1px solid black;
}

.container1 {
  margin: 5%;
  border-radius: 5rem;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.panel {
  /* background-color: #ffb300; */
  color: #fff;
  font-family: 'Berkshire Swash', cursive;
  position: relative;
  padding: 0;
  border-radius: inherit;
}

.bg-left {
  background-image: url("/images/bg-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(4px) brightness(50%);
  height: 100%;
  border-radius: inherit;
}

.content {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 25%;
}

.content h1 {
  font-size: 3.5rem;
}

.content p {
  font-size: 1.5rem;
  width: 80%;
  margin: auto;
}

.forms-container {
  padding-right: 0;
}

.signin-signup {
  width: 100%;
  padding-top: 10%;
  height: 80vh;
  overflow-y: scroll;
}

.signin-signup::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: none;
}

.signin-signup::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.signin-signup::-webkit-scrollbar-thumb {
  border-radius: 1rem;
}

.signin-signup::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 70px;
}

.signin-signup::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 70px;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 .4rem;
  position: relative
}

input:-webkit-autofill, input:-webkit-autofill:active, input:-webkit-autofill:focus, input:-webkit-autofill:hover {
  box-shadow: 0 0 0 30px #f0f0f0 inset!important;
  border-radius: inherit
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem
}

.input-field input, .input-field select {
  background: 0 0;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

.input-field .toggle-password {
  margin-left: 330px;
  margin-top: -35px;
  cursor: pointer;
  font-size: 1.2em;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: 0;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer
}

.btn:hover {
  background-color: #4d84e2;
}

.btn.transparent {
  margin: 0;
  background: 0 0;
  border: 1px solid #000;
  color: #000;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: .8rem;
  transition: ease 0.5s;
}

.btn.transparent:hover {
  background-color: #4d84e2;
  color: #fff;
  border: none;
  transition: ease 0.5s;
}

.invalid {
  transition: all 0.3s ease;
  box-shadow: 0 0 10px red;
}

.change-page {
  text-align: center;
  margin: 5% auto;
}

.forget-password-div {
  text-align: right;
  width: 60%;
}

.forget-password {
  text-decoration: none;
}

.forget-password:hover {
  color: black;
}