.main {
    margin: 3%;
}

.main h4 {
    font-weight: bold;
}

.order-para {
    margin: 0;
}

.page-title {
    padding-bottom: 0.5%;
    margin-bottom: 2%;
    width: max-content;
    border-bottom: 3px red solid;
}